$mobilePadding: 20;

$h1: 90px;
$h1-2: 64px;
$h2: 48px;
$h2-2: 40px;
$h3-2: 38px;
$h3: 32px;
$h4: 23px;
$h5: 24px;
$h6-2: 18px;
$h6: 16px;

$black: #161722;
$primary-color: #ffffff;
$secondary-color: #BB2339;
$dark-color: #242424;
$grey: #f5f2f0;
$bg-sect-color: #F4F4F4;
$lorem-color: #AAAAAA;